html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button,
input,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  // background: #eff2ff;
  font-size: 10px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  color: black;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.1rem;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

main {
  position: relative;
}

body {
  overflow-x : hidden;
  overflow-y: auto;
  transition: background-color 5s ease;
  background-color: rgba(106, 146, 172, 0.07);
  height: 100%;
}

img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 1rem -1rem 1rem 0rem #e3e0e0;
}

a {
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

header {
  height: 6rem;
  transition: background 3s ease;
  background: rgba(58, 138, 192, 0.07);
}

section {
    display : flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap : 4rem;
}

article {
  width: 100%;
  display : flex;
  justify-content: center;
  align-items: flex-start;
  &:nth-of-type(2) {
    img {
      width: 98%;
    }
  }
  &:nth-of-type(3) {
    img {
      width: 98%;
    }
  }
}

main {
  margin-top : 6rem;
}

footer {
  display : flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-progressbar {
  top : unset !important;
  bottom : 0 !important;
}